@using Microsoft.Identity.Web;
@{
    ViewData["Title"] = "CAE Hack Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A minimal Web App to look at Access Tokens, Claims, and Make a call to the Orchestrator API</p>
    <p>As you test your APIs you will have to sign-out and sign-in mutliple times to make sure you have a valid token.</p>
</div>
