@using Microsoft.Identity.Web;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">User Claims</h1>
</div>

@if (User.Identity.IsAuthenticated)
{
<h3>Claims</h3>
<table>
    <tr>
        <th>Claim Type</th>
        <th>Claim Value</th>
    </tr>
<pre>
      @foreach(var claim in User.Claims)
      {
            <tr><td>@claim.Type</td><td>@claim.Value</td></tr>
      }
</pre>
</table>
}
